.app {
    display: flex;
    justify-content: space-between;
}
.btn {
    background-color: #F9F9F9;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #F9F9F9;
    box-sizing: border-box;
    flex-basis: 100%;
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-transform: uppercase;
    text-align: center;    
    width: 100%;
}
.btn--primary {
    background: #FB641B;
    border: 1px solid #FB641B;
    color: #fff;
    font-weight: bold;
}

.btn--remove {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 2;
    text-align: center;
    text-transform: uppercase;
    
}
.btn-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}
.cart {
    /*margin-top: 15px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 4px 1px #ccc;
    height: 100vh;
    width: 95%;
}
.cart__header {
    padding-left: 15px;
}
.cart-item {
    border-top: 1px solid #ccc;
    list-style-type: none;
    padding: 15px;
}
.cart-items {
    padding: 0;
}
.cart-item__content {
    display: flex;
    margin-bottom: 10px;
}
.cart-item__content :nth-child(1) {
    margin-right: 25px;
}
.cart-item__controls {
    display: flex;   
}
.cart-item__price {
    margin: 0;
}
.cart-item__title {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 32px;
}
.plus-minus {
    display: flex;
    margin-right: 15px;
    width: 30%;
}
.plus-minus__btn {
    background: #eee;
    border: 1px solid #b7b7b7;
    border-radius: 50%;
    cursor: pointer;
    height: auto;
}
.plus-minus__field {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 15%;
}
.plus-minus__field::-webkit-inner-spin-button, 
.plus-minus__field::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 60%;
}

@media (min-width: 800px) {
    .btn {
        flex-basis: 49%;
    }
    
    .cart {
        width: 20%;
    }
}